/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #282c34;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
:root{
  max-width: 800px;
  min-height: 500px;
  margin: auto;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #282c34;
  color: #d3ddf0;
  margin: auto;
  padding: auto;

}
header{
  background-color: #282c34;
  color: #d3ddf0;
  margin:auto;
  padding: auto;
  text-align: center;
}
main{
  background-color: #282c34;
  color: #d3ddf0;
  margin:auto;
  padding: auto;
}
footer{
  background-color: #282c34;
  color: #d3ddf0;
  margin:auto;
  padding:auto;
  text-align: center;
}
nav{
  background-color: #282c34;
  border: none;
  color:#d3ddf0;
  margin: 10px auto;
  padding: auto;
  text-decoration: none;
  text-align: center;
}
nav a{
  background-color: #afc3eb;
  border: 2px solid #afc3eb;
  color: #282c34;
  margin:  2px;
  padding: 0 5px;
  text-decoration: none;
  border-radius: 5px;
}
nav a:hover{
  background-color: #282c34;
  border: 2px dotted #afc3eb;
  color: #d3ddf0;
  margin:auto;
  padding: auto;
  text-decoration: none;
}
tr th{
  border: none;
  border-bottom: 2px solid #282c34;
  color: #d3ddf0;
  padding: 0 10px;
  background-color: #244586;
}
tr td{
  border: none;
  border-top: 2px solid #282c34 ;
  color: #282c34;
  padding: 10px 10px;
  text-align: center;
  background-color: #eaedf1;
}
input{
  padding: 2px 0;
  display: grid;
  margin: 10px 0;
}
button{
  padding: auto;
  display: block;
  margin: 5px auto;
  border-radius: 5px;
  padding: 3px 10px;
  background-color: #afc3eb;
  font-size: medium;
}
button:hover{
  background-color: #282c34;
  border: 3px dotted #afc3eb;
  color: #eaedf1;
}
select{
  padding: 3px 0;
  display: grid;
  margin: 10px 0;
}
table{
  border-collapse: collapse;
  width: 99%;
}
form p{
  display: inline-block;
  margin:2px;
}
form{
 
  text-align: center;
}

#reps, #weight{
  width: 80px;
}
#exercise{
  width: 15rem;
}
#unit-select{
  width: 5rem;
}
form label{
  background-color: #244586;
  display: block;
}
#edit:hover,
#trash:hover{
  font-size: x-large;
}